body{
    margin: 0;
    background: linear-gradient(to right, rgb(208, 229, 245), rgb(6, 30, 56));
}


.barra{
    margin-top: 10vh;
    font-size: 20px;
}

.imagen{
    height: 100%;
    object-fit: cover;
}
